<% include ../partials/header %>
<% include ../partials/navbar %>


<div class="container">
  <div class="jumbotron mt-3">
    <div class="form-group">
      <h2>Project</h2>
      <h3>Filters</h3>
      <!-- ============ filters =============== -->
      <form action="/projects">
        <div class="form-group row">
          <label class="col-2 col-form-label">
            <input class="form-check-input" type="checkbox" name="checkid" value="true"
              <%= (query.checkid) ? ' checked ': ''%>>ID
          </label>
          <div class="col-6">
            <input class="form-control" type="text" placeholder="ID" id="id" name="formid" value="<%= query.formid %>">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label">
            <input class="form-check-input" type="checkbox" name="checkname" value="true"
              <%= (query.checkname) ? ' checked ': ''%>>Name
          </label>
          <div class="col-6">
            <select class="custom-select" name="formname">
              <option value="">Choose the Project Name...</option>
              <% projects.forEach((item)=>{%>
              <option <%= query.formname == item.projectid ? 'selected' : '' %>>
                <%= item.name %>
              </option>
              <%})%>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label">
            <input class="form-check-input" type="checkbox" name="checkmember" value="true"
              <%= (query.checkmember) ? ' checked ': ''%>>Members
          </label>
          <div class="col-6">
            <select class="custom-select" name="formmember">
              <option value="">Choose the members ...</option>
              <% users.forEach((item)=>{%>
              <option <%= query.member == item.fullname ? 'selected':''; %>><%= item.fullname %></option>
              <%= `${item.fullname}` %>
              </option>
              <%})%>
            </select>
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-sm">Search</button>
        <a href="/projects" class="btn btn-warning btn-sm">Reset</a>
        <hr class="my-2">
      </form>

      <!-- ============= table ================= -->
      <br><br><br>
      <table class="table table-striped">
          <thead style="border-bottom: none">
              <tr>
                  <% if(projectoption.oid){%><th scope="col-sm-10" class="ID">ID</th><%}%>
                      <% if(projectoption.oname){%><th scope="col-sm-10" class="Name">Name</th><%}%>
                      <% if(projectoption.omember){%><th scope="col-sm-10" class="Member">Members</th><%}%>
                  <th scope="col-sm-10" class="Action">Action</th>
              </tr>
          </thead>
          <tbody>
                  <% data.forEach((item) => {  %>
              <tr>
                  <% if(projectoption.oid){%><td scope="row" class="ID"><%}%>
                      <a href="/projects/overview/<%= item.projectid%>"><%= item.projectid %> </a> </td><%}%>
                          <% if(projectoption.oname){%> <td class="Name"><%= item.name %></td><%}%>
                          <% if(projectoption.omember){%><td><%= item.firstname %> <%=item.lastname%></td><%}%>
              <td><a href="/projects/edit/<%= item.projectid %>" class="btn btn-success">Edit</a>
                <a href="/projects/delete/<%= item.projectid %>" class="btn btn-danger"
                  onclick="return confirm('Yakin nih mau di Delete bro???');">Delete</a></td>
            </tr>
            <%})%>
          </tbody>
        </table>


        <a href="/projects/add"><button type="submit" class="btn btn-primary">Add</button></a>
      </div>
    </div>
  </div>
</div>